<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>xss_test</h1>
    <br><br>

    <div>
       <form>
        <input type="text">
        <input type="submit">
       </form>

        
    </div>

    <!-- <input id='input'></input>
        <button id='input-btn'>submit</button>

    <div id='submitted-input'></div>

    <script>    document.querySelector('#input-btn').addEventListener("click", (e) => {
        const userInput = document.querySelector('#input').value
      
        document.querySelector('#submitted-input').innerHTML = userInput
      })</script> -->

</body>
</html>